<ul>
  <li>weather/data/:location_id___postcode/:date</li>
  <li>date: <%= @date %></li>
<% if @my_locations == nil %>
  <li>Given postcode is outside out asumption, see README</li>
<% else %>
  <li>current_temp: <%= @my_locations.records.last.temperature.value %></li>
  <% end %>
</ul>

<!-- # <% if @my_locations != nil %> -->
<table border="1" class="table-hover">

  <tr>
    <td>time</td>
    <td>temp</td>
    <td>precip</td>
    <td>wind_direction</td>
    <td>wind_speed</td>
  </tr>

<% @my_records.each do |record| %>
  <tr>
    <td><%= record.time %></td>
    <td><%= record.temperature.value %></td>
    <td><%= record.rain.amount %></td>
    <td><%= record.wind.dir %></td>
    <td><%= record.wind.speed %></td>
  </tr>
<% end %>
</table>
<!-- # <% else %>
#
#
#
# <% end %> -->
